<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students List</title>
</head>
<body>
<h2>Registered Students</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
    </tr>

    <tr th:each="st : ${students}">
        <td th:text="${st.id}"></td>
        <td th:text="${st.name}"></td>
        <td th:text="${st.email}"></td>
        <td th:text="${st.course}"></td>
    </tr>
</table>

<br>
<a th:href="@{/students/home}">Back to Home</a>

</body>
</html>
